ansi2html==1.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
bleach==2.1.3
Brotli==1.0.9
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.5
chardet==4.0.0
click==8.0.0
cryptography==3.4.7
cycler==0.10.0
dash==1.19.0
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.3.0
entrypoints==0.2.3
Flask==1.0.3
Flask-Caching==1.7.1
Flask-Compress==1.9.0
future==0.18.2
html5lib==1.0.1
idna==2.10
ipykernel==4.6.1
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.0.0
itsdangerous==2.0.0
jedi==0.12.0
Jinja2==2.11.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.4.0
jupyter-dash==0.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.1.1
mistune==0.8.3
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.1.0
nbconvert==5.2.1
nbformat==4.4.0
notebook==5.2.2
numexpr==2.6.9
numpy==1.17.0
pandas==0.25.0+0.gd1accd0.dirty
pandocfilters==1.4.1
parso==0.2.0
path.py==11.0.1
pexpect==4.2.1
pickleshare==0.7.4
plotly==4.14.3
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.20
Pygments==2.2.0
pyOpenSSL==20.0.1
pyparsing==2.2.0
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
pyzmq==16.0.2
redis==3.5.3
requests==2.25.1
retrying==1.3.3
simplegeneric==0.8.1
six==1.12.0
TBB==0.2
terminado==0.8.1
testpath==0.3
tornado==4.5.2
traitlets==4.3.2
urllib3==1.26.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.0
gunicorn==19.3.0
